<div class="result-panel child">

  <md-card class="result-panel-card" style="order:3;">
    <md-card-title>Image Data</md-card-title>
    <md-card-content>
      <table class="strategy-sub-table">
        <tr><td class="rj-col">Name</td><td class="small-col">:</td><td class="lj-col">bs_0_012.img</td></tr>
        <tr><td class="rj-col">&Omega;</td><td class="small-col">:</td><td class="lj-col">94.0&deg;</td></tr>
        <tr><td class="rj-col">&Delta;&Omega;</td><td class="small-col">:</td><td class="lj-col">1.0&deg;</td></tr>
        <tr><td class="rj-col">Time</td><td class="small-col">:</td><td class="lj-col">1.0s</td></tr>
        <tr><td class="rj-col">Transmission</td><td class="small-col">:</td><td class="lj-col">55.3%</td></tr>
        <tr><td class="rj-col">Distance</td><td class="small-col">:</td><td>600.0mm</td></tr>
        <tr><td class="rj-col">Sample</td><td class="small-col">:</td><td class="lj-col">A1</td></tr>
        <tr><td class="rj-col">Date</td><td class="small-col">:</td><td class="lj-col">2016-07-18 13:00:00</td></tr>
      </table>
   </md-card-content>
  </md-card>

  <md-card class="result-panel-card" style="order:4;">
    <md-card-title>Indexing</md-card-title>
    <md-card-content>
      <table class="strategy-sub-table">
        <tr><td class="rj-col">Spacegroup</td><td class="small-col">:</td><td class="lj-col">P2<sub>1</sub>2<sub>1</sub>2<sub>1</sub> (19)</td></tr>
        <tr><td class="rj-col">Cell</td><td class="small-col">:</td><td class="lj-col">120.2&Aring; 120.2&Aring; 120.2&Aring;</td></tr>
        <tr><td class="rj-col"></td><td class="small-col"></td><td class="lj-col">90.0&deg;, 90.0&deg;, 90.0&deg;</td></tr>
        <tr><td class="rj-col">Mosaicity</td><td class="small-col">:</td><td class="lj-col">0.03&deg;</td></tr>
        <tr><td class="rj-col">Resolution</td><td class="small-col">:</td><td class="lj-col">2.2&Aring;</td></tr>
        <tr><td class="rj-col">Overloads</td><td class="small-col">:</td><td class="lj-col">0</td></tr>
      </table>
   </md-card-content>
  </md-card>

  <md-card class="result-panel-card" style="order:2;">
    <md-card-title>Actions</md-card-title>
    <md-card-content>
        <button md-raised-button>Reindex</button>
   </md-card-content>
  </md-card>

  <md-card class="result-panel-strategy-card" style="order:1;">
    <md-card-title>Strategy - Normal</md-card-title>
    <md-card-content>
      <table class="strategy-table">
        <tr>
          <td>
            <table class="strategy-sub-table">
              <tr><td class="rj-col">&Omega;<sub>Start</sub></td><td class="small-col">:</td><td class="lj-col">62.0&deg;</td></tr>
              <tr><td class="rj-col">&Omega;<sub>End</sub></td><td class="small-col">:</td><td class="lj-col">287.0&deg;</td></tr>
              <tr><td class="rj-col">&Delta;&Omega;</td><td class="small-col">:</td><td class="lj-col">0.25&deg;</td></tr>
              <tr><td class="rj-col">&Omega; range</td><td class="small-col">:</td><td class="lj-col">125.0&deg;</td></tr>
              <tr><td class="rj-col"># Images</td><td class="small-col">:</td><td class="lj-col">500</td></tr>
              <tr><td class="rj-col">Exposure time</td><td class="small-col">:</td><td class="lj-col">0.2s</td></tr>
              <tr><td class="rj-col">Distance</td><td class="small-col">:</td><td class="lj-col">390.0mm</td></tr>
              <tr><td class="rj-col">Transmission</td><td class="small-col">:</td><td class="lj-col">4.0%</td></tr>
           </table>
          </td>
          <td>
            <table>
              <tr>
                <td>
                    <!-- <base-chart class="chart" style="display:block;width:30em;"
                                [datasets]="lineChartData"
                                [labels]="lineChartLabels"
                                [options]="lineChartOptions"
                                [colors]="lineChartColours"
                                [legend]="lineChartLegend"
                                [chartType]="lineChartType"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)">
                    </base-chart> -->
                </td>
                <td>
                  <table>
                    <tr>
                      <td><button md-mini-fab (click)="plotOmegaStart()">&Omega;</button></td>
                    </tr>
                    <tr>
                      <td><button md-mini-fab (click)="plotDeltaOmega()">&Delta;&Omega;</button></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </md-card-content>
  </md-card>

  <md-card class="result-panel-strategy-card" style="order:5;">
    <md-card-title>Strategy - Anomalous</md-card-title>
    <md-card-content>
      <table class="strategy-table">
        <tr>
          <td>
            <table class="strategy-sub-table">
              <tr><td class="rj-col">&Omega;<sub>Start</sub></td><td class="small-col">:</td><td class="lj-col">62.0&deg;</td></tr>
              <tr><td class="rj-col">&Omega;<sub>End</sub></td><td class="small-col">:</td><td class="lj-col">287.0&deg;</td></tr>
              <tr><td class="rj-col">&Delta;&Omega;</td><td class="small-col">:</td><td class="lj-col">0.25&deg;</td></tr>
              <tr><td class="rj-col">&Omega; range</td><td class="small-col">:</td><td class="lj-col">125.0&deg;</td></tr>
              <tr><td class="rj-col"># Images</td><td class="small-col">:</td><td class="lj-col">500</td></tr>
              <tr><td class="rj-col">Exposure time</td><td class="small-col">:</td><td class="lj-col">0.2s</td></tr>
              <tr><td class="rj-col">Distance</td><td class="small-col">:</td><td class="lj-col">390.0mm</td></tr>
              <tr><td class="rj-col">Transmission</td><td class="small-col">:</td><td class="lj-col">4.0%</td></tr>
           </table>
          </td>
          <td>
            <table>
              <tr>
                <td>
                    <!-- <base-chart class="chart" style="display:block;width:30em;"
                                [datasets]="lineChartDataAnom"
                                [labels]="lineChartLabelsAnom"
                                [options]="lineChartOptionsAnom"
                                [colors]="lineChartColours"
                                [legend]="lineChartLegend"
                                [chartType]="lineChartType"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)">
                    </base-chart> -->
                </td>
                <td>
                  <table>
                    <tr>
                      <td><button md-mini-fab (click)="plotOmegaStartAnom()">&Omega;</button></td>
                    </tr>
                    <tr>
                      <td><button md-mini-fab (click)="plotDeltaOmegaAnom()">&Delta;&Omega;</button></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </md-card-content>
  </md-card>

  <md-card class="result-panel-card" style="order:6;">
    <md-card-title>Software Employed</md-card-title>
    <md-card-content>
    </md-card-content>
  </md-card>

  <md-card class="result-panel-card" style="order:7;">
    <md-card-title>Spot Predictions</md-card-title>
    <md-card-content>
    </md-card-content>
  </md-card>

  <md-card class="result-panel-card" style="order:7;">
    <md-card-title>Details</md-card-title>
    <md-card-content>
    </md-card-content>
  </md-card>

</div>
