<div *ngIf="! submit_error">
  <div MatDialogTitle>
    <button mat-icon-button mat-dialog-close class="button-dialog-top-right">
      <mat-icon>close</mat-icon>
    </button>
    <h2>Reindex</h2>
    <h3>{{data.image1.basename}}</h3>
  </div>

  <mat-dialog-content [ngClass]="submitted ? 'overlay-grey': ''">
    <form [formGroup]="reindex_form">
      <div class="form-group">
        <p>
          <mat-form-field>
            <mat-select
              [(ngModel)]="model.spacegroup"
              formControlName="spacegroup"
              placeholder="Spacegroup override">
              <mat-option [value]="0">None</mat-option>
              <mat-option *ngFor="let sg of globals_service.sgs_in_order" [value]="sg">
                {{globals_service.intl2std[sg]}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <mat-select [(ngModel)]="model.sample_type"
                       formControlName="sample_type"
                       placeholder="Sample type">
              <mat-option *ngFor="let sample_type of sample_types" [value]="sample_type.val">
                {{sample_type.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input matInput
                   number
                   placeholder="Solvent content (0-1)"
                   formControlName="solvent_content"
                   [(ngModel)]="model.solvent_content">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <mat-select [(ngModel)]="model.strategy_type"
                       formControlName="strategy_type"
                       placeholder="Strategy program">
              <mat-option *ngFor="let strategy_type of strategy_types" [value]="strategy_type.val">
                {{strategy_type.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p [ngClass]="model.strategy_type != 'best' ? 'hidden': ''">
          <mat-form-field>
            <mat-select [(ngModel)]="model.best_complexity"
                       formControlName="best_complexity"
                       placeholder="Strategy complexity">
              <mat-option *ngFor="let best_complex of best_complexity" [value]="best_complex">
                {{best_complex}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p [ngClass]="model.strategy_type == 'best' ? 'hidden': ''">
          <mat-form-field>
            <mat-select
              [(ngModel)]="model.mosflm_seg"
              formControlName="mosflm_seg"
              placeholder="Number of segments">
              <mat-option *ngFor="let mosflm_seg of mosflm_segs" [value]="mosflm_seg">
                {{mosflm_seg}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <!-- </p>
        <p [ngClass]="model.strategy_type == 'best' ? 'hidden': ''"> -->
          <mat-form-field class="example-full-width">
            <input matInput
                   placeholder="Segment rotation range"
                   formControlName="mosflm_rot"
                   [(ngModel)]="model.mosflm_rot">
          </mat-form-field>
        </p>
        <p [ngClass]="model.strategy_type == 'best' ? 'hidden': ''">
          <mat-form-field class="example-full-width">
            <input matInput
                   placeholder="Strategy range start"
                   formControlName="mosflm_start"
                   [(ngModel)]="model.mosflm_start">
          </mat-form-field>
        <!-- </p>
        <p [ngClass]="model.strategy_type == 'best' ? 'hidden': ''"> -->
          <mat-form-field class="example-full-width">
            <input matInput
                   placeholder="Strategy range end"
                   formControlName="mosflm_end"
                   [(ngModel)]="model.mosflm_end">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width">
            <input matInput
                   placeholder="Beam search scope (mm)"
                   number
                   formControlName="beam_search"
                   [(ngModel)]="model.beam_search">
          </mat-form-field>
        </p>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <mat-progress-bar
      *ngIf="submitted"
      mode="indeterminate"
      style="margin-top:5px;"
      color="primary">
    </mat-progress-bar>
    <button mat-raised-button *ngIf="submit_error" color="primary" (click)="submitReindex()">Ok</button>
    <button mat-raised-button *ngIf="! submit_error" color="primary" (click)="submitReindex()">Execute</button>
  </mat-dialog-actions>
</div>
<div *ngIf="submit_error">
  <mat-dialog-content>
    <h2>Error</h2>
    {{submit_error}}
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" mat-dialog-close>Ok</button>
  </mat-dialog-actions>
</div>
