<h1 md-dialog-title>User</h1>

<button md-icon-button class="button-dialog-top-right" (click)="exitUser()">
  <md-icon>close</md-icon>
</button>

<form [formGroup]="user_form">
  <div class="form-group">
    <p>
      <md-input-container>
        <input mdInput
          formControlName="email"
          required
          placeholder='email'
          pattern='^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$'
          [(ngModel)]="model.email"
          autofocus>
      </md-input-container>
    </p>
    <p>
      <md-input-container>
        <input mdInput
          placeholder="name"
          formControlName="username"
          required
          [(ngModel)]="model.username">
      </md-input-container>
    </p>
    <p>
      <md-select formControlName="role"
              [(ngModel)]="model.role"
              placeholder="Role">
        <md-option value="user">user</md-option>
        <md-option value="group_admin">group admin</md-option>
        <md-option value="site_admin">site admin</md-option>
      </md-select>
    </p>
    <p *ngIf="model.groups.length === 0">
      <md-select formControlName="group0" placeholder="Group">
        <md-option value="">None</md-option>
        <md-option *ngFor="let g of groups" [value]="g._id">{{g.groupname}}</md-option>
      </md-select>
    </p>
    <p *ngIf="model.groups.length > 0">
      <md-select formControlName="group0"
              [(ngModel)]="model.groups[0]._id"
              placeholder="Group #1">
        <md-option value="">None</md-option>
        <md-option *ngFor="let g of groups" [value]="g._id">{{g.groupname}}</md-option>
      </md-select>
    </p>
    <p *ngIf="model.groups.length > 0">
      <md-select *ngIf="model.groups.length == 1"
              formControlName="group1"
              placeholder="Group #2">
        <md-option value="">None</md-option>
        <md-option *ngFor="let g of groups" [value]="g._id">{{g.groupname}}</md-option>
      </md-select>
      <select *ngIf="model.groups.length > 1"
              formControlName="group1"
              [(ngModel)]="model.groups[1]._id">
        <option value="">None</option>
        <option *ngFor="let g of groups" [value]="g._id">{{g.groupname}}</option>
      </select>
    </p>
    <p *ngIf="model.groups.length > 1">
      <md-select *ngIf="model.groups.length == 2" formControlName="group2" placeholder="Group #3">
        <md-option value="">Unknown</md-option>
        <md-option *ngFor="let g of groups" [value]="g._id">{{g.groupname}}</md-option>
      </md-select>
      <md-select *ngIf="model.groups.length > 2"
              formControlName="group2"
              [(ngModel)]="model.groups[2]._id"
              placeholder="Group #3">
        <md-option value="">None</md-option>
        <md-option *ngFor="let g of groups" [value]="g._id">{{g.groupname}}</md-option>
      </md-select>
    </p>
  </div>
  <p>
    <md-progress-spinner *ngIf="submitted" mode="indeterminate" style="height:30px;width:30px;" color="primary"></md-progress-spinner>
  </p>
  <p>
    {{error_message}}
  </p>
  <p>
    <button *ngIf="model._id" type="button" md-button color="warn" (click)="deleteUser()">Delete</button>
    <button type="button" [disabled]="!user_form.valid" md-button (click)="submitUser()">Save</button>
  </p>
</form>
