<div class="rapd-main-panel">

  <article class="c-content">
    <ngx-datatable
      class="material"
      [rows]="sessions"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [limit]="10"
      [rowHeight]="'auto'"
      [reorderable]="true"
      [selectionType]="'single'"
      [sorts]="[{prop: 'last_process', dir: 'desc'}]"
      (select)='selectSession($event)'>
      <ngx-datatable-column name="Site" prop="site">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Group" prop="group.groupname">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created" prop="timestamp">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value | date:'y-MM-dd HH:mm' }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Last Process" prop="last_process">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value | date:'y-MM-dd HH:mm' }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Directory" prop="data_root_dir">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </article>

  <!-- <article class="c-content">
    <mat-paginator
      [length]="dataSettings.length"
      [pageSize]="dataSettings.pageSize"
      [pageSizeOptions]="[10, 20, 50, 100, 1000, 10000]"
      (page)="handlePaginator($event)"
      showFirstLastButtons>
    </mat-paginator>
    <table mat-table
      [dataSource]="filteredSessions"
      matSort
      matSortStart="desc"
      (matSortChange)="handleSort($event)">

      <ng-container *ngFor="let myColumn of asIsColumns" matColumnDef="{{myColumn}}">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>{{columnLabels[myColumn]}}</th>
        <td mat-cell class="normal" *matCellDef="let record"> {{record[myColumn]}} </td>
      </ng-container>

      <ng-container matColumnDef="group_name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>{{columnLabels["group_name"]}}</th>
        <td mat-cell class="normal" *matCellDef="let record"> {{record.group?.groupname}} </td>
      </ng-container>
      <ng-container matColumnDef="timestamp">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>{{columnLabels["timestamp"]}}</th>
        <td mat-cell class="normal" *matCellDef="let record"> {{record.timestamp | date:'y-MM-dd HH:mm'}} </td>
      </ng-container>
      <ng-container matColumnDef="last_process">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>{{columnLabels["last_process"]}}</th>
        <td mat-cell class="normal" *matCellDef="let record"> {{record.last_process | date:'y-MM-dd HH:mm'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let record; columns: displayedColumns;"
          (click)="recordClick(record, $event)"></tr>
    </table>
  </article> -->

  <mat-toolbar class="rapd-main-panel-action-bar" style="height:4em;">
    <form class="session-filter-form">
      <mat-form-field
        (keyup)='updateSessionFilter($event)'>
        <input
          matInput
          placeholder="Filter">
      </mat-form-field>
    </form>
  </mat-toolbar>
</div>
