# Lines starting with '#' are considered comments.
# Ignore subversion information
.svn

# Build
.project
.pydevproject
*.pyc
bin
share
install/test
rapd.cshrc
rapd.shrc
phenix-installer-*
cache

# Archives
*.tar
*.bz2
*.tgz
Python-*

# Test data
test_data
*.log

# Just there for local reference

# Files that should be hidden
*secret*
*foo*

# Temporary workspaces
tmp

# System files
.DS_Store


# From UI
src/ui/dist
src/ui/tmp
src/ui/node_modules

# UI configuration
src/ui/src/app/site.ts

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
Thumbs.db

