.main-toolbar {
  width: 100%;
  background: #EEEEEE;
}

.main-title {
  position: absolute;
  margin-top:1em;
}

.main-title h1 {
    /*padding: 0;*/
    float: left;
    color: #b31b1b;
    font-family: 'ChunkFive', 'Georgia', serif;
    font-size: 3em;
}

.main-toolbar .main-buttons {
  position: absolute;
  right: 1em;
  margin-top: 12px;
}
