<mat-toolbar class="main-toolbar">
  <!-- <div class="main-title"> -->
    <!--  -->
  <!-- </div> -->
  <!-- <div> -->
  <div class="main-buttons">
    <!-- <div style="float:left;"> -->
      <h2 class="main-title" [style.color]= "globals_service.site_color ? globals_service.site_color : '#445A64'">RAPD @ {{globals_service.site.name}}</h2>
    <!-- </div> -->
    <div style="float:right;">
      <button mat-raised-button (click)="changeMode('admin')">Admin</button>
      <button mat-raised-button (click)="changeMode('projects')">Projects</button>
      <button mat-raised-button (click)="changeMode('sessions')">Sessions</button>
      <button mat-raised-button (click)="changeMode('dashboard')">Dashboard</button>
      <button *ngIf="!auth_service.authenticated()" mat-raised-button style="background-color:green;" (click)="openLoginDialog()">Log In</button>
      <button *ngIf="auth_service.authenticated()" mat-raised-button style="background-color:red;" (click)="auth_service.logout()">Log Out</button>
    </div>
  </div>
</mat-toolbar>
