<h1 MdDialogTitle>Change Password</h1>

<button mat-icon-button class="button-dialog-top-right" (click)="exitChangepass()">
  <mat-icon>close</mat-icon>
</button>

<form [formGroup]="changepass_form" (ngSubmit)="onSubmit()">
  <table>
    <tr><td>
      <mat-form-field>
        <input matInput
          formControlName="password1"
          required
          minlength="8"
          placeholder='password'
          type='password'>
      </mat-form-field>
    </td></tr>
    <tr><td>
      <mat-form-field>
        <input matInput
          formControlName="password2"
          required
          minlength="8"
          placeholder='password'
          type='password'>
      </mat-form-field>
    </td></tr>
  </table>
  <button type="submit" [disabled]="!changepass_form.valid || !passMatch()" mat-raised-button color="primary">Change</button>

  <mat-progress-spinner *ngIf='submitted' mode='indeterminate' style="height:30px;width:30px;"></mat-progress-spinner>

</form>
<p>{{error_message}}</p>
