<div MatDialogTitle>
  <button mat-icon-button mat-dialog-close class="button-dialog-top-right">
    <mat-icon>close</mat-icon>
  </button>
  <h2>Please Change Password</h2>
</div>
<form [formGroup]="changepassForm" (ngSubmit)="onSubmit()">
  <p>
    <mat-form-field>
      <input matInput
        formControlName="password1"
        required
        minlength="8"
        placeholder='password'
        type='password'>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input matInput
        formControlName="password2"
        required
        minlength="8"
        placeholder='password'
        type='password'>
    </mat-form-field>
  </p>
  <p>
    <mat-progress-bar
      *ngIf='submitted'
      mode='indeterminate'
      style="margin-top:5px;">
    </mat-progress-bar>
  </p>
  <p>
    {{errorMessage}}
  </p>
  <p style="text-align:center;">
    <button
      type="submit"
      [disabled]="!changepassForm.valid || !passMatch()"
      mat-raised-button
      color="primary">
      Change
    </button>
  </p>
</form>
