@font-face {
  font-family: 'Chunkfive';
  src: url('Chunkfive.otf');
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
  font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  height:100%;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.child {

}

article.c-content {
  width: 80%;
  margin-left: 10%;
  margin-top: 2em;
}

.l-content {
  padding: 10px 96px;
  max-width: 1200px;
  margin: 0 auto;
}

.l2-content {
  padding: 10px 0 0 96px;
  max-width: 1200px;
  margin: 0 auto;

}

.main-toolbar {
  width: 100%;
  background: #E5E5E5;
}

.main-title {
  position: absolute;
  margin-top:1em;
}

.main-title h1 {
    /*padding: 0;*/
    float: left;
    color: #b31b1b;
    font-family: 'ChunkFive', 'Georgia', serif;
    font-size: 3em;
}

.main-toolbar .main-buttons {
  position: absolute;
  right: 1em;
  margin-top: 12px;
}

.sessions-table {
  margin-bottom: 32px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  border-radius: 2px;
  background: #fff;
}

.sessions-table tbody th, .sessions-table tbody td {
    border-bottom: 1px solid #ECEFF1;
    color: #445A64;
    padding: 16px 32px;
    text-align: left;
}

.sessions-table thead th {
    background: #E5E5E5;
    border-bottom: 1px solid #ECEFF1;
    color: black;
    font-size: 12px;
    font-weight: 600;
    padding: 8px 32px;
    text-align: left;
    text-transform: uppercase;
}

.is-full-width {
  width: 100%;
}

.is-full-height {
  height: 100%;
}

.main-toolbar {
  background: #E5E5E5;
  box-shadow: 3px 0 6px rgba(0,0,0,0.3);
}

.session-tab-group {
  background: #E5E5E5;
  /*box-shadow: 3px 0 6px rgba(0,0,0,0.3);*/
  /*width: 232px;*/
  /*overflow: auto;*/
  /*margin: 0.25em 0 0.5em 0.25em;*/
  /*min-height: calc(100vh - 4.75em);*/
}

.side-list {
  background: #E5E5E5;
  box-shadow: 3px 0 6px rgba(0,0,0,0.3);
  width: 16em;
  overflow: auto;
  margin: 0.25em 0 0.5em 0.25em;
  min-height: calc(100vh - 8em);
}

.result-panel {
  background: #E5E5E5;
  box-shadow: 3px 0 6px rgba(0,0,0,0.3);
  overflow: hidden;
  margin: 0.25em 0 0.5em 0.25em;
  min-width: calc(100vw - 17em);
  height: calc(100vh - 7.75em);
  display: flex;
  flex-wrap: wrap;
}

.result-panel-main-results {
  /*height: calc(100vh - 10.em);*/
  /*overflow: scroll;*/
}

.result-panel-action-bar {
  box-shadow: 3px 0 6px rgba(0,0,0,0.3);
  /*height: 4em;*/
  margin: 0.25em -1em 0.5em 0;
  min-width: calc(100vw - 17em);
  /*border: 2px solid black;*/
}

.md-list-item {
  background-color: inherit;
}

.md-overlay-pane {
  background: rgba(255,255,255,0.95);
}

/* Invalid ng form entries */
input.ng-invalid:not(form)  {
  /*border-bottom: 5px solid #a94442; /* red */
  background: rgba(255,0,0,0.5);
}

/* A panel in the interface */
div.panel {
  background-color: #E5E5E5;
  height: 100%;
}

.chunky {
  font-family: 'ChunkFive', 'Georgia', serif;
}

button.button-dialog-top-right.mat-icon-button {
  float: right;
  margin-top: -30px;
  background-color: rgba(0,0,0,0.1);
}

.active-result {
  background-color: yellow;
}

.hidden {
  display: none;
}

.overlay-grey {
  opacity: 0.5;
}



/* Manual table to look like ngx-datatable */

table.rapd-table {
  table-layout: fixed;
  /*width: 100%;*/
  border: 1px solid rgba(0,0,0,0.2);
  border-collapse: collapse;
  border-radius: 2px;
}

.rapd-table th, td {
  padding: 0 10px 0px 10px;
}

.rapd-table tr {
  padding: 10px 10px 10px 10px;
  height: 30px;
}

.rapd-table thead th {
  color: rgba(0,0,0,0.54);
  font-weight: 500;
  font-size: 1;
}
.rapd-table thead tr {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.rapd-table tbody {
  color: rgba(0,0,0,1);
  font-weight: 400;
  font-size: 1em;
}

.rapd-table tbody tr {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  border-top: 1px solid rgba(0,0,0,0.1);
  text-align: center;
}

.rapd-table tbody tr:first-child {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  border-top: 1px solid rgba(200,200,200,0);
}

.rapd-table tbody tr:last-child {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  border-top: 1px solid rgba(200,200,200,0);
}

md-card.rapd-result {
  /*background-color: rgba(0,0,0,0.1);*/
  width:100%;
}

md-card-header.rapd-result {
  /*background-color: rgba(0,0,0,0.1);*/
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 2px;
  padding:5px;
}

md-card-content.rapd-result {
  /*background-color: rgba(255,255,255,1);*/
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 2px;
  margin-top: 10px;
  padding: 5px;
}

md-card-actions.rapd-result {
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 2px;
  margin: 4px;
}

/* div that holds a select that looks separate */
.rapd-select-panel {
  border-radius: 2px;
  /*box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);*/
  /*box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
              0 2px 2px 0 rgba(0,0,0,.14),
              0 1px 5px 0 rgba(0,0,0,.12);*/
  float:right;
  padding: 5px;
}

/* Entries for showing raw output from programs */
.raw-output-card {
  margin: 0.5em;
}

.raw-output {
  font-family: 'Roboto Mono', monospace;
  overflow: scroll;
  line-height: 0.1;
}

.raw-collapsed {
  height: 10em;
}

.raw-output-toggle {
  float: left;
  top: 2.0em;
  left: -1.4em;
}
