<div md-dialog-title>
  <button md-icon-button md-dialog-close class="button-dialog-top-right">
    <md-icon>close</md-icon>
  </button>
  <h3>{{this.data.dialog_title}}</h3>
</div>

<md-dialog-content style="margin:0">
  <canvas baseChart
    [datasets]="data.ys"
    [labels]="data.xs"
    [options]="data.lineChartOptions"
    [chartType]="data.lineChartType"
    [colors]="lineChartColors"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"></canvas>
</md-dialog-content>
