<div MdDialogTitle>
  <button mat-icon-button mat-dialog-close class="button-dialog-top-right">
    <mat-icon>close</mat-icon>
  </button>
  <h3>{{this.data.dialog_title}}</h3>
</div>

<mat-dialog-content style="margin:0">
  <canvas baseChart
    [datasets]="data.ys"
    [labels]="data.xs"
    [options]="data.lineChartOptions"
    [chartType]="data.lineChartType"
    [colors]="lineChartColors"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"></canvas>
</mat-dialog-content>
