<div class="result-panel child">

  <md-card class="result-panel-card" style="order:3;">
    <md-card-title>Image Data</md-card-title>
    <md-card-content>
      <table class="strategy-sub-table">
        <tr><td class="rj-col">Name</td><td class="small-col">:</td><td class="lj-col">{{full_result.header1.basename}}</td></tr>
        <tr><td class="rj-col">&Omega;</td><td class="small-col">:</td><td class="lj-col">{{full_result.header1.osc_start}}&deg;</td></tr>
        <tr><td class="rj-col">&Delta;&Omega;</td><td class="small-col">:</td><td class="lj-col">{{full_result.header1.osc_range}}&deg;</td></tr>
        <tr><td class="rj-col">Time</td><td class="small-col">:</td><td class="lj-col">{{full_result.header1.time}}s</td></tr>
        <tr><td class="rj-col">Transmission</td><td class="small-col">:</td><td class="lj-col">{{full_result.header1.transmission}}%</td></tr>
        <tr><td class="rj-col">Distance</td><td class="small-col">:</td><td>{{full_result.header1.distance}}mm</td></tr>
        <!-- <tr><td class="rj-col">Sample</td><td class="small-col">:</td><td class="lj-col">A1</td></tr> -->
        <tr><td class="rj-col">Date</td><td class="small-col">:</td><td class="lj-col">{{full_result.header1.date}}</td></tr>
      </table>
   </md-card-content>
  </md-card>

  <md-card class="result-panel-card" style="order:4;">
    <md-card-title>Indexing</md-card-title>
    <md-card-content>
      <table class="strategy-sub-table">
        <!-- <tr><td class="rj-col">Spacegroup</td><td class="small-col">:</td><td class="lj-col">P2<sub>1</sub>2<sub>1</sub>2<sub>1</sub> (19)</td></tr> -->
        <tr><td class="rj-col">Spacegroup</td><td class="small-col">:</td><td class="lj-col">P2<sub>1</sub>2<sub>1</sub>2<sub>1</sub> (19)</td></tr>
        <tr><td class="rj-col">Cell</td><td class="small-col">:</td><td class="lj-col">120.2&Aring; 120.2&Aring; 120.2&Aring;</td></tr>
        <tr><td class="rj-col"></td><td class="small-col"></td><td class="lj-col">90.0&deg;, 90.0&deg;, 90.0&deg;</td></tr>
        <tr><td class="rj-col">Mosaicity</td><td class="small-col">:</td><td class="lj-col">0.03&deg;</td></tr>
        <tr><td class="rj-col">Resolution</td><td class="small-col">:</td><td class="lj-col">2.2&Aring;</td></tr>
        <tr><td class="rj-col">Overloads</td><td class="small-col">:</td><td class="lj-col">0</td></tr>
      </table>
   </md-card-content>
  </md-card>

</div>
