<div *ngIf="! submit_error">
  <div md-dialog-title>
    <button md-icon-button md-dialog-close class="button-dialog-top-right">
      <md-icon>close</md-icon>
    </button>
    <h2>New Project</h2>
  </div>
  <md-dialog-content [ngClass]="submitted ? 'overlay-grey': ''">
    <form [formGroup]="project_form">
      <div class="form-group">
        <table class="rapd-form-table">
          <tbody>
            <tr>
              <td class="rapd-form-table-rj">Type</td>
              <td class="rapd-form-table-select">
                <md-select [(ngModel)]="model.project_type"
                           formControlName="project_type">
                  <md-option value="mx">MX</md-option>
                </md-select>
              </td>
            </tr>
            <tr>
              <td class="rapd-form-table-rji">Name</td>
              <td class="rapd-form-table-select">
                <md-input-container style="width:7.5em;">
                  <input mdInput
                         style="text-align:center;"
                         placeholder=""
                         formControlName="title"
                         [(ngModel)]="model.title">
                </md-input-container>
              </td>
            </tr>
            <tr>
              <td class="rapd-form-table-rji">Description</td>
              <td class="rapd-form-table-select">
                <md-input-container style="width:7.5em;">
                  <input mdInput
                         style="text-align:center;"
                         placeholder=""
                         formControlName="description"
                         [(ngModel)]="model.description">
                </md-input-container>
              </td>
            </tr>
            <tr *ngIf="profile.groups.length > 1">
              <td class="rapd-form-table-rj">Group</td>
              <td class="rapd-form-table-select">
                <md-select [(ngModel)]="model.group"
                           formControlName="group">
                  <md-option *ngFor="let group of profile.groups" [value]="group._id">
                   {{group.groupname}}
                  </md-option>
                </md-select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
    {{profile.groups.length}}
  </md-dialog-content>

  <md-dialog-actions align="end">
    <md-progress-spinner *ngIf="submitted" mode="indeterminate" style="height:30px;width:30px;" color="primary"></md-progress-spinner>
    <button md-raised-button color="primary" (click)="submitNewProject()">Submit</button>
  </md-dialog-actions>
</div>
<div *ngIf="submit_error">
  <md-dialog-content>
    <h2>Error</h2>
    {{submit_error}}
  </md-dialog-content>
  <md-dialog-actions align="end">
    <button md-raised-button color="primary" md-dialog-close>Ok</button>
  </md-dialog-actions>
</div>
