<div *ngIf="! submit_error">
  <div MatDialogTitle>
    <button mat-icon-button mat-dialog-close class="button-dialog-top-right">
      <mat-icon>close</mat-icon>
    </button>
    <h2>{{dialog_title}}</h2>
  </div>
  <mat-dialog-content [ngClass]="submitted ? 'overlay-grey': ''">
    <form [formGroup]="project_form">
      <div class="form-group">
        <p>
          <mat-form-field>
            <mat-select [(ngModel)]="model.project_type"
                        formControlName="project_type"
                        placeholder="Type">
              <mat-option value="mx">MX</mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input matInput
                   style="text-align:center;"
                   placeholder="Title"
                   formControlName="title"
                   [(ngModel)]="model.title">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input matInput
                   style="text-align:center;"
                   placeholder="Description"
                   formControlName="description"
                   [(ngModel)]="model.description">
          </mat-form-field>
        </p>
        <p *ngIf="user.groups.length > 1">
          <mat-form-field>
            <mat-select [(ngModel)]="model.group"
                       formControlName="group"
                       placeholder="Group">
              <mat-option *ngFor="let group of user.groups" [value]="group._id">
               {{group.groupname}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
      </div>
      <p>
        <mat-progress-bar
          *ngIf="submitted"
          mode="indeterminate"
          style="margin-top:5px;"
          color="primary">
        </mat-progress-bar>
      </p>
      <p>
        <button
          *ngIf="model._id"
          type="button"
          mat-button
          color="warn"
          (click)="deleteProject()">
          Delete
        </button>
        <button mat-raised-button color="primary" (click)="submitProject()">Submit</button>
      </p>
    </form>
  </mat-dialog-content>
</div>
<div *ngIf="submit_error">
  <mat-dialog-content>
    <h2>Error</h2>
    {{submit_error}}
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" mat-dialog-close>Ok</button>
  </mat-dialog-actions>
</div>
