<mat-card>
  <mat-card-subtitle>Subtitle first</mat-card-subtitle>
  <mat-card-title>RAPD Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="login_form" (ngSubmit)="onSubmit()">
      <mat-form-field formControlName="email"
                required
                placeholder='email'
                pattern='^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$'></mat-form-field>
      <div class="mat-errors-spacer" [hidden]="login_form.controls.email.valid || login_form.controls.email.untouched">
          <div class="mat-char-counter" *ngIf="login_form.controls.email.errors && login_form.controls.email.errors.required">
              Email is required
          </div>
          <div class="mat-char-counter" *ngIf="login_form.controls.email.errors && login_form.controls.email.errors.pattern">
              Email is invalid
          </div>
      </div>

      <mat-form-field formControlName="password"
                required placeholder='password'
                type='password'></mat-form-field>
      <div class="mat-errors-spacer" [hidden]="login_form.controls.password.valid || login_form.controls.password.untouched">
          <div class="mat-char-counter" *ngIf="login_form.controls.password.errors && login_form.controls.password.errors.required">
              Password is required
          </div>
          <div class="mat-char-counter" *ngIf="login_form.controls.password.errors && login_form.controls.password.errors.pattern">
              Password is invalid
          </div>
      </div>

      <span>{{error_message}}</span>

      <button type="submit" [disabled]="!login_form.valid" mat-raised-button color="primary">Login</button>

      <mat-progress-spinner *ngIf='submitted' mode='indeterminate' style="height:30px;width:30px;"></mat-progress-spinner>

    </form>


    <div>
      {{login_form.controls.email.value}}
    </div>

     <!-- <form *ngIf="!submitted" [formGroup]="form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
       <mat-form-field formControlName="username" required placeholder="Username"></mat-form-field>
       <mat-form-field formControlName="password" required placeholder="Password" type="password"></mat-form-field>
       <button type="submit" [disabled]="!loginForm.form.valid" mat-raised-button color="primary">Login</button>
     </form> -->
   </mat-card-content>

</mat-card>
