<md-card>
  <md-card-subtitle>Subtitle first</md-card-subtitle>
  <md-card-title>RAPD Login</md-card-title>
  <md-card-content>
    <form [formGroup]="login_form" (ngSubmit)="onSubmit()">
      <md-input-container formControlName="email"
                required
                placeholder='email'
                pattern='^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$'></md-input-container>
      <div class="md-errors-spacer" [hidden]="login_form.controls.email.valid || login_form.controls.email.untouched">
          <div class="md-char-counter" *ngIf="login_form.controls.email.errors && login_form.controls.email.errors.required">
              Email is required
          </div>
          <div class="md-char-counter" *ngIf="login_form.controls.email.errors && login_form.controls.email.errors.pattern">
              Email is invalid
          </div>
      </div>

      <md-input-container formControlName="password"
                required placeholder='password'
                type='password'></md-input-container>
      <div class="md-errors-spacer" [hidden]="login_form.controls.password.valid || login_form.controls.password.untouched">
          <div class="md-char-counter" *ngIf="login_form.controls.password.errors && login_form.controls.password.errors.required">
              Password is required
          </div>
          <div class="md-char-counter" *ngIf="login_form.controls.password.errors && login_form.controls.password.errors.pattern">
              Password is invalid
          </div>
      </div>

      <span>{{error_message}}</span>

      <button type="submit" [disabled]="!login_form.valid" md-raised-button color="primary">Login</button>

      <md-progress-spinner *ngIf='submitted' mode='indeterminate' style="height:30px;width:30px;"></md-progress-spinner>

    </form>


    <div>
      {{login_form.controls.email.value}}
    </div>

     <!-- <form *ngIf="!submitted" [formGroup]="form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
       <md-input-container formControlName="username" required placeholder="Username"></md-input-container>
       <md-input-container formControlName="password" required placeholder="Password" type="password"></md-input-container>
       <button type="submit" [disabled]="!loginForm.form.valid" md-raised-button color="primary">Login</button>
     </form> -->
   </md-card-content>

</md-card>
