<md-tab-group>
  <md-tab label="Summary">
    <table style="width:100%;">
      <tr>
        <td style="vertical-align:top;">
          <table  style="width:35em;">
            <tr>
              <td>
                <h3>Unit Cell</h3>
              </td>
            </tr>
            <tr>
              <td>
                <table class="manual-table ngx-datatable material">
                  <thead>
                    <tr>
                      <th>Spacegroup</th>
                      <th>Unit Cell</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{result.parsed.xtriage.spacegroup.text}} ({{result.parsed.xtriage.spacegroup.number}})</td>
                      <td>
                        {{result.parsed.xtriage.unit_cell.a}} &Aring;
                        {{result.parsed.xtriage.unit_cell.b}} &Aring;
                        {{result.parsed.xtriage.unit_cell.c}} &Aring;
                        {{result.parsed.xtriage.unit_cell.alpha}}&deg;
                        {{result.parsed.xtriage.unit_cell.beta}}&deg;
                        {{result.parsed.xtriage.unit_cell.gamma}}&deg;
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <h3>Patterson Analysis</h3>
              </td>
            </tr>
            <tr>
              <td>
                <table class="manual-table ngx-datatable material">
                  <thead>
                    <tr>
                      <!-- <th>Peak #</th> -->
                      <th>% Origin</th>
                      <th>p Value</th>
                      <th>X</th>
                      <th>Y</th>
                      <th>Z</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let key of objectKeys(this.result.parsed.xtriage['Patterson peaks'])">
                      <td>{{result.parsed.xtriage["Patterson peaks"][key].peak}}</td>
                      <td>{{result.parsed.xtriage["Patterson peaks"][key]["p-val"]}}</td>
                      <td>{{result.parsed.xtriage["Patterson peaks"][key]["frac x"]}}</td>
                      <td>{{result.parsed.xtriage["Patterson peaks"][key]["frac y"]}}</td>
                      <td>{{result.parsed.xtriage["Patterson peaks"][key]["frac z"]}}</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <h3>Xtriage Summary</h3>
              </td>
            </tr>
            <tr>
              <td>
                <span *ngFor="let line of result.parsed.xtriage.verdict_text">{{line}}</span>
              </td>
            </tr>
          </table>
        </td>
        <td>
          <table style="width:100%;">
            <tr>
              <td>
                <h3>{{selected_plot}}</h3>
              </td>
            </tr>
            <tr>
              <td *ngIf="selected_plot=='Intensity plots'">
                <div class="chart-container" style="position: relative;">
                  <canvas
                    *ngIf="data"
                    baseChart
                    [datasets]="data.ys"
                    [labels]="data.xs"
                    [options]="data.lineChartOptions"
                    [chartType]="data.lineChartType"
                    [colors]="lineChartColors"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                  </canvas>
                </div>
              </td>
              <td *ngIf="selected_plot=='Measurability of Anomalous signal'">
                <div class="chart-container" style="position: relative;">
                  <canvas
                  *ngIf="data"
                  baseChart
                  [datasets]="data.ys"
                  [labels]="data.xs"
                  [options]="data.lineChartOptions"
                  [chartType]="data.lineChartType"
                  [colors]="lineChartColors"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)">
                </canvas>
              </div>
              </td>
              <td *ngIf="selected_plot=='NZ test'">
                <div class="chart-container" style="position: relative;">
                <canvas
                  *ngIf="data"
                  baseChart
                  [datasets]="data.ys"
                  [labels]="data.xs"
                  [options]="data.lineChartOptions"
                  [chartType]="data.lineChartType"
                  [colors]="lineChartColors"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)">
                </canvas>
              </div>
              </td>
              <td *ngIf="selected_plot=='L test, acentric data'">
                <div class="chart-container" style="position: relative;">
                <canvas
                  *ngIf="data"
                  baseChart
                  [datasets]="data.ys"
                  [labels]="data.xs"
                  [options]="data.lineChartOptions"
                  [chartType]="data.lineChartType"
                  [colors]="lineChartColors"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)">
                </canvas>
              </div>
              </td>
            </tr>
            <tr>
              <td>
                <md-select
                  placeholder="Select Plot"
                  (change)="setPlot(selected_plot)"
                  [(ngModel)]="selected_plot"
                  name="selected_plot"
                  value="intensity">
                  <md-option *ngFor="let key of objectKeys(result.parsed.xtriage.plots)" [value]="key">{{key}}</md-option>
                  <!-- <md-option value="intensity">Summary</md-option>
                  <md-option value="anomalous">Anomalous Signal</md-option>
                  <md-option value="nz_test">NZ Test</md-option>
                  <md-option value="l_test">L Test</md-option>
                  <md-option value="cid0">CID 0</md-option>
                  <md-option value="cid1">CID 1</md-option> -->
                </md-select>
                <p>Selected plot: {{selected_plot}}</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </md-tab>
  <md-tab label="PDBQuery">
  </md-tab>
  <md-tab label="Self-Rotation">
    <img src={{result.parsed.molrep.self_rotation_image_60}}/>
    <img src={{result.parsed.molrep.self_rotation_image_90}}/>
    <img src={{result.parsed.molrep.self_rotation_image_120}}/>
    <img src={{result.parsed.molrep.self_rotation_image_180}}/>
  </md-tab>
  <md-tab label="Precessions">
  </md-tab>
  <md-tab label="Raw">
    <md-card>
      <button md-mini-fab>
        <md-icon class="md-24">keyboard_arrow_down</md-icon>
      </button>
      <md-card-title>
        Xtriage
      </md-card-title>
      <md-card-content>
        <p *ngFor="let line of result.raw.xtriage">{{line}}</p>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-title>
        Molrep
      </md-card-title>
      <md-card-content>
        {{result.raw.molrep}}
      </md-card-content>
    </md-card>
  </md-tab>
</md-tab-group>
