<md-tab-group>
  <md-tab label="Analysis">
    <table>
      <tr>
        <td>
          <h3>Unit Cell</h3>
        </td>
      </tr>
      <tr>
        <td>
          Table
        </td>
      </tr>
      <tr>
        <td>
          <h3>Patterson Analysis</h3>
        </td>
      </tr>
      <tr>
        <td>
          Table
        </td>
      </tr>
      <tr>
        <td>
          <h3>Xtriage Summary</h3>
        </td>
      </tr>
      <tr>
        <td>
          Table
        </td>
      </tr>
    </table>
  </md-tab>
  <md-tab label="Plots">
    <table>
      <tr>
        <td>
          <md-select
            placeholder="Select Plot"
            (change)="onPlotSelect(plot)"
            [(ngModel)]="selected_plot"
            name="selected_plot"
            value="intensity">
            <md-option value="intensity">Summary</md-option>
            <md-option value="anomalous">Anomalous Signal</md-option>
            <md-option value="nz_test">NZ Test</md-option>
            <md-option value="l_test">L Test</md-option>
            <md-option value="cid0">CID 0</md-option>
            <md-option value="cid1">CID 1</md-option>
          </md-select>
        </td>
        <td>
          <h2>Integration Results for</h2>
        </td>
      </tr>
    </table>
  </md-tab>
  <md-tab label="PDBQuery">
  </md-tab>
  <md-tab label="Self-Rotation">
  </md-tab>
  <md-tab label="Precessions">
  </md-tab>
  <md-tab label="Raw">
  </md-tab>
</md-tab-group>
