  <h1 md-dialog-title>Session</h1>
  <button md-icon-button class="button-dialog-top-right" (click)="exitSession()">
    <md-icon>close</md-icon>
  </button>
<form [formGroup]="session_form">
  <div class="form-group">
    <p>
      <md-select formControlName="site" [(ngModel)]="model.site" placeholder="Site">
        <!-- <option value="">Unknown</option> -->
        <md-option *ngFor="let s of sites" [value]="s">{{s}}</md-option>
      </md-select>
    </p>
    <!-- <p>
      Type:
      <select formControlName="session_type"
              [(ngModel)]="model.session_type">
        <option *ngFor="let t of session_types" [value]="t">{{t}}</option>
      </select>
    </p> -->
    <p>
      <md-select formControlName="group" [(ngModel)]="model.group._id" placeholder="Group">
        <md-option value="">Unknown</md-option>
        <md-option *ngFor="let g of groups" [value]="g._id">{{g.groupname}}</md-option>
      </md-select>
    </p>
    <p>
      <md-input-container>
        <input mdInput
          formControlName="data_root_directory"
          required
          placeholder="directory"
          style="width:17em;"
          [(ngModel)]="model.data_root_directory">
      </md-input-container>
    </p>
  </div>
  <p>
    <md-progress-spinner *ngIf="submitted" mode="indeterminate" style="height:30px;width:30px;" color="primary"></md-progress-spinner>
  </p>
  <p>
    {{error_message}}
  </p>
  <p style="text-align:center;">
    <button *ngIf="model._id" type="button" md-button color="warn" (click)="deleteSession()">Delete</button>
    <button type="button" [disabled]="!session_form.valid" md-button (click)="submitSession()">Save</button>
  </p>
</form>
