table {
  table-layout: fixed;
  /*width: 100%;*/
  border-collapse: collapse;
}


/*thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 70%;
}*/

.manual-table th, td {
  padding: 0 10px 0px 10px;
}

.manual-table tr {
  padding: 10px 10px 10px 10px;
  height: 30px;
}

.manual-table thead th {
  color: rgba(0,0,0,0.54);
  font-weight: 500;
  font-size: 12px;
}
.manual-table thead tr {
  border-bottom: 1px solid rgba(0,0,0,0.1);

}

.manual-table tbody {
  color: rgba(0,0,0,1);
  font-weight: 400;
  font-size: 1em;
}

.manual-table tbody tr {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  border-top: 1px solid rgba(0,0,0,0.1);
}

.manual-table tbody tr:first-child {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  border-top: 1px solid rgba(200,200,200,0);
}

.manual-table tbody tr:last-child {
  border-bottom: 1px solid rgba(200,200,200,0);
  border-top: 1px solid rgba(200,200,200,0);
}
