<div MatDialogTitle>
  <button mat-icon-button mat-dialog-close class="button-dialog-top-right">
    <mat-icon>close</mat-icon>
  </button>
  <!-- <h2>Image Details</h2> -->
</div>
<!-- <button mat-icon-button class="button-dialog-top-right" (click)="exitLogin()">
  <mat-icon>close</mat-icon>
</button> -->
<div *ngIf="mode === 'login'">
  <h1>
    Login
  </h1>
  <!-- <button mat-icon-button style="position:absolute; right:1em; top:1em;" (click)="exitLogin()">
    <mat-icon>close</mat-icon>
  </button> -->
  <form [formGroup]="login_form" (ngSubmit)="onSubmitLogin()">
    <table>
      <tr><td>
        <mat-form-field>
          <input matInput
            formControlName="email"
            required
            placeholder='email'
            pattern='^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$'>
        </mat-form-field>
        <div class="mat-errors-spacer" [hidden]="login_form.controls.email.valid || login_form.controls.email.untouched">
          <div class="mat-char-counter" *ngIf="login_form.controls.email.errors && login_form.controls.email.errors.required">
            Email is required
          </div>
          <div class="mat-char-counter" *ngIf="login_form.controls.email.errors && login_form.controls.email.errors.pattern">
            Email is invalid
          </div>
        </div>
      </td></tr>
      <tr><td>
        <mat-form-field>
          <input matInput
            formControlName="password"
            required placeholder='password'
            type='password'>
        </mat-form-field>
        <div class="mat-errors-spacer" [hidden]="login_form.controls.password.valid || login_form.controls.password.untouched">
          <div class="mat-char-counter" *ngIf="login_form.controls.password.errors && login_form.controls.password.errors.required">
            Password is required
          </div>
          <div class="mat-char-counter" *ngIf="login_form.controls.password.errors && login_form.controls.password.errors.pattern">
            Password is invalid
          </div>
        </div>
      </td></tr>
    </table>

    <button type="submit" [disabled]="!login_form.valid" mat-raised-button color="primary">Login</button>

    <mat-progress-spinner *ngIf='submitted' mode='indeterminate' style="height:30px;width:30px;"></mat-progress-spinner>

  </form>
  <p>{{error_message}}</p>
  <button mat-button (click)="mode='lostpass'">Forgot your password?</button>
</div>
<div *ngIf="mode === 'lostpass'">
  <h1>
    Password Recovery
  </h1>
  <!-- <button mat-icon-button style="position:absolute; right:1em; top:1em;" (click)="exitLogin()">
    <mat-icon>close</mat-icon>
  </button> -->
  <form [formGroup]="lostpass_form" (ngSubmit)="onSubmitLostpass()">
    <table>
      <tr><td>
        <mat-form-field>
          <input matInput
            formControlName="email"
            required
            placeholder='email'
            pattern='^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$'>
        </mat-form-field>
        <div class="mat-errors-spacer" [hidden]="login_form.controls.email.valid || login_form.controls.email.untouched">
          <div class="mat-char-counter" *ngIf="lostpass_form.controls.email.errors && lostpass_form.controls.email.errors.required">
            Email is required
          </div>
          <div class="mat-char-counter" *ngIf="lostpass_form.controls.email.errors && lostpass_form.controls.email.errors.pattern">
            Email is invalid
          </div>
        </div>
      </td></tr>
    </table>
    <span>{{error_message}}</span>
    <button type="submit" [disabled]="!lostpass_form.valid" mat-raised-button color="primary">Submit</button>
    <mat-progress-spinner *ngIf='submitted' mode='indeterminate' style="height:30px;width:30px;"></mat-progress-spinner>

  </form>
  <button mat-button (click)="mode='login'">Already have a password?</button>
</div>
<div *ngIf="mode === 'signup'">
  <h1>
    Sign Up
  </h1>
</div>
<div *ngIf="mode === 'show_login_success'">
  <h1>
    Success
  </h1>
  <!-- <button mat-icon-button style="position:absolute; right:1em; top:1em;" (click)="exitLogin()">
    <mat-icon>close</mat-icon>
  </button> -->
  Your login has been successful.
</div>
<div *ngIf="mode === 'show_request_success'">
  <h1>
    Success
  </h1>
  <!-- <button mat-icon-button style="position:absolute; right:1em; top:1em;" (click)="exitLogin()">
    <mat-icon>close</mat-icon>
  </button> -->
  Your request for a recovery password has been successful.
  <br>
  You should receive an email shortly.
</div>
