<div MdDialogTitle>
  <button mat-icon-button mat-dialog-close class="button-dialog-top-right">
    <mat-icon>close</mat-icon>
  </button>
  <h2>Image Details</h2>
</div>

<mat-dialog-content>
  <h3>{{data.basename}}</h3>
  <table class="rapd-table">
    <!-- <thead>
      <tr>
        <th scope="col" style="width:50%;"></th>
        <th scope="col" style="width:50%;"></th>
      </tr>
    </thead> -->
    <tbody>
      <tr>
        <td class="manual-table-rj">Oscillation Start</td><td>{{data.osc_start}}&deg;</td>
      </tr>
      <tr>
        <td class="manual-table-rj">Oscillation Range</td><td>{{data.osc_range}}&deg;</td>
      </tr>
      <tr>
        <td class="manual-table-rj">Exposure Time</td><td>{{data.time}} s</td>
      </tr>
      <tr>
        <td class="manual-table-rj">Transmission</td><td>{{data.transmission.toFixed(2)}}%</td>
      </tr>
      <tr>
        <td class="manual-table-rj">Wavelength</td><td>{{data.wavelength}} &Aring;</td>
      </tr>
      <tr>
        <td class="manual-table-rj">Distance</td><td>{{data.distance}} mm</td>
      </tr>
      <tr *ngIf="data.twotheta">
        <td class="manual-table-rj">Two Theta</td><td>{{data.twotheta}}&deg;</td>
      </tr>
      <tr>
        <td class="manual-table-rj">Beam Center X</td><td>{{data.x_beam.toFixed(2)}} mm</td>
      </tr>
      <tr>
        <td class="manual-table-rj">Y</td><td>{{data.y_beam.toFixed(2)}} mm</td>
      </tr>
      <tr>
        <td class="manual-table-rj">Date</td><td>{{data.date.slice(0,10)}}</td>
      </tr>
      <tr>
        <td class="manual-table-rj">Time</td><td>{{data.date.slice(11,19)}}</td>
      </tr>
    </tbody>
  </table>
</mat-dialog-content>

<!-- <mat-dialog-actions>
  <button mat-button-raised mat-dialog-close>Close</button>
</mat-dialog-actions> -->
