table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

/*thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 70%;
}*/

th, td {
  padding: 5px 10px 5px 10px;
}

tbody tr {
  border-bottom: 1px solid rgba(200,200,200,1);
  border-top: 1px solid rgba(200,200,200,1);
}

tbody tr:first-child {
  border-bottom: 1px solid rgba(200,200,200,1);
  border-top: 1px solid rgba(200,200,200,0);
}

tbody tr:last-child {
  border-bottom: 1px solid rgba(200,200,200,0);
  border-top: 1px solid rgba(200,200,200,1);
}

.manual-table-rj {
  text-align: right;
}
