<h1 MdDialogTitle>Group</h1>
<button mat-icon-button class="button-dialog-top-right" (click)="exitGroup()">
  <mat-icon>close</mat-icon>
</button>
<form [formGroup]="group_form">
  <div class="form-group">
    <p>
      <mat-form-field>
        <input matInput
          formControlName="groupname"
          required
          placeholder='groupname'
          [(ngModel)]="model.groupname"
          autofocus>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input matInput
          placeholder="institution"
          formControlName="institution"
          required
          [(ngModel)]="model.institution">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
      <input matInput
        placeholder="UID"
        formControlName="uid"
        [(ngModel)]="model.uid">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input matInput
          placeholder="GID"
          formControlName="gid"
          [(ngModel)]="model.gid">
      </mat-form-field>
    </p>
    <p>
      <mat-select formControlName="status" placeholder="Role"
              [(ngModel)]="model.status">
        <mat-option value="active">active</mat-option>
        <mat-option value="inactive">inactive</mat-option>
      </mat-select>
    </p>
  </div>
  <p>
    <mat-progress-spinner *ngIf="submitted" mode="indeterminate" style="height:30px;width:30px;" color="primary"></mat-progress-spinner>
  </p>
  <p>
    {{error_message}}
  </p>
  <p>
    <button *ngIf="model._id" type="button" mat-button color="warn" (click)="deleteGroup()">Delete</button>
    <button type="button" [disabled]="!group_form.valid" mat-button (click)="submitGroup()">Save</button>
  </p>
</form>
