<div MatDialogTitle>
  <button mat-icon-button mat-dialog-close class="button-dialog-top-right">
    <mat-icon>close</mat-icon>
  </button>
  <h2>Add To Project</h2>
</div>

<div *ngIf="! submit_error">
  <mat-dialog-content *ngIf="(projects)?.length === 0">
    Please create a project in the projects tab first.
  </mat-dialog-content>

  <mat-dialog-content *ngIf="(projects)?.length > 0" [ngClass]="submitted ? 'overlay-grey': ''">
    <form [formGroup]="projectForm">
      <mat-form-field>
        <mat-select [(ngModel)]="model._id"
                  formControlName="_id">
          <mat-option *ngFor="let project of projects" [value]="project._id">
            {{project.title}}
          </mat-option>
          <mat-option [value]=-1>New Project</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <mat-progress-spinner *ngIf="submitted" mode="indeterminate" style="height:30px;width:30px;" color="primary"></mat-progress-spinner>
    <button mat-raised-button color="primary" (click)="submitProjectSelection()">Select</button>
  </mat-dialog-actions>
</div>

<div *ngIf="submit_error">
  <mat-dialog-content>
    <h2>Error</h2>
    {{submit_error}}
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" mat-dialog-close>Ok</button>
  </mat-dialog-actions>
</div>
