<mat-card *ngIf="project" class="rapd-result">
  <mat-card-header class="rapd-result">
    <div style="width:100%">
      <div style="float:left;">
        <h3>
          Project {{project.title}}
        </h3>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content class="rapd_result">
    <div fxLayout="row" style="padding:10px;" fxLayoutGap="10px">

      <div fxLayout="column">
        <table>
          <tr style="vertical-align:top;">
            <td style="padding:0 0 0 0;">
              <div class="rapd-corral" [ngClass]="selected_integrated_data.length > 0 ? 'background-green': ''">
                <div class="rapd-corral-pen">
                  <div class="rapd-corral-heading">
                    Integrated Data
                  </div>
                  <mat-list dense class="rapd-corral-content" style="padding-top:0px;">
                    <ng-container *ngFor="let source_datum of project.source_data">
                      <mat-list-item
                        *ngIf="source_datum.plugin_type==='INTEGRATE'"
                        (click)="toggleSourceDataIntegrateSelection(source_datum._id)"
                        [ngClass]="selected_integrated_data.indexOf(source_datum._id) != -1 ? 'active-result': ''">
                        {{source_datum.repr}}
                      </mat-list-item>
                    </ng-container>
                  </mat-list>
                </div>
              </div>
            </td>
            <td style="padding:0 0 0 0;">
              <!-- Connect Integrated source data to actions -->
              <div *ngIf="selected_integrated_data?.length > 0" class="data-action-connector"></div>
            </td>
            <td style="padding:0 0 0 0;">

              <!-- 1 Integration is selected -->
              <div *ngIf="selected_integrated_data?.length === 1" class="rapd-corral background-green" style="min-width:12em;width:12em;">
                <div class="rapd-corral-pen">
                  <div class="rapd-corral-heading">
                    Actions
                  </div>
                  <mat-list dense class="rapd-corral-content">
                    <ng-container *ngFor="let action of actions.INTEGRATE[0]">
                      <mat-list-item >
                        <button mat-button color="primary"
                        (click)="selectSingleIntgrationAction(action)">
                          <mat-icon>{{actionIcons[action]}}</mat-icon>
                          {{action}}
                        </button>
                      </mat-list-item>
                    </ng-container>
                  </mat-list>
                </div>
              </div>

              <!-- >1 Integration is selected -->
              <div *ngIf="selected_integrated_data?.length > 1" class="rapd-corral background-green">
                <div class="rapd-corral-pen">
                  <div class="rapd-corral-heading">
                    Actions
                  </div>
                  <mat-list dense class="rapd-corral-content">
                    <ng-container *ngFor="let action of actions.INTEGRATE[1]">
                      <mat-list-item>
                        <button mat-button color="primary"
                        (click)="selectMultipleIntgrationAction(action)">
                          <mat-icon>{{actionIcons[action]}}</mat-icon>
                          {{action}}
                        </button>
                      </mat-list-item>
                    </ng-container>
                  </mat-list>
                </div>
              </div>
            </td>
            <td style="padding:0 0 0 0;">
              <!-- Connect Integrated source data to actions -->
              <div *ngIf="selected_integrated_data?.length > 0" class="data-action-connector"></div>
            </td>
            <td style="padding:0 0 0 0;">

              <!-- 1 Integration is selected -->
              <!-- <div *ngIf="selected_integrated_data?.length === 1" class="rapd-corral background-green" style="min-width:12em;width:12em;"> -->
              <div class="rapd-corral" [ngClass]="selected_integrated_data?.length > 0 ? 'background-green': ''" style="min-width:12em;width:12em;">
                <div class="rapd-corral-pen">
                  <div class="rapd-corral-heading">
                    Results
                  </div>
                  <mat-list dense class="rapd-corral-content">
                    <!-- Here is container for results from actions taken on integrated data??-->
                    <!-- <ng-container *ngFor="let action of actions.INTEGRATE[0]"> -->
                    <ng-container>
                      <mat-list-item >
                        None
                      </mat-list-item>
                    </ng-container>
                  </mat-list>
                </div>
              </div>

              <!-- >1 Integration is selected -->
              <!-- <div *ngIf="selected_integrated_data?.length > 1" class="rapd-corral background-green">
                <div class="rapd-corral-pen">
                  <div class="rapd-corral-heading">
                    Actions
                  </div>
                  <mat-list dense class="rapd-corral-content">
                    <ng-container *ngFor="let action of actions.INTEGRATE[1]">
                      <mat-list-item>
                        {{action}}
                      </mat-list-item>
                    </ng-container>
                  </mat-list>
                </div>
              </div> -->
            </td>
          </tr>


          <tr style="vertical-align:top;">
            <td style="padding:0 0 0 0;">
              <div class="rapd-corral" [ngClass]="selected_indexed_data.length > 0 ? 'background-green': ''">
                  <div class="rapd-corral-pen">
                    <div class="rapd-corral-heading">
                      Indexed Data
                    </div>
                    <mat-list dense class="rapd-corral-content" style="padding-top:0px;">
                      <ng-container *ngFor="let source_datum of project.source_data">
                        <mat-list-item
                          *ngIf="source_datum.plugin_type==='INDEX'"
                          (click)="toggleSourceDataIndexSelection(source_datum._id)"
                          [ngClass]="selected_indexed_data.indexOf(source_datum._id) != -1 ? 'active-result': ''">
                          {{source_datum.repr}}
                        </mat-list-item>
                      </ng-container>
                    </mat-list>
                  </div>
                </div>
            </td>
            <td style="padding:0 0 0 0;">
              <!-- Visually connect Indexed source data to actions -->
              <div *ngIf="selected_indexed_data?.length > 0" class="data-action-connector"></div>
            </td>
            <td style="padding:0 0 0 0;">

              <!-- 1 Integration is selected -->
              <div *ngIf="selected_indexed_data?.length === 1" class="rapd-corral background-green" style="min-width:12em;width:12em;">
                <div class="rapd-corral-pen">
                  <div class="rapd-corral-heading">
                    Actions
                  </div>
                  <mat-list dense class="rapd-corral-content">
                    <ng-container *ngFor="let action of actions.INDEX">
                      <mat-list-item >
                        <button mat-button color="primary"
                        (click)="selectSingleIndexAction(action)">
                          <mat-icon>{{actionIcons[action]}}</mat-icon>
                          {{action}}
                        </button>
                      </mat-list-item>
                    </ng-container>
                  </mat-list>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <!-- Action result space -->
      <div #output_outlet>  <!-- fxLayout="column" fxFlex="none">-->
      </div>

    </div>
  </mat-card-content>
  <mat-toolbar class="result-panel-action-bar">
      <!-- <button mat-button color="primary" (click)="activateUpload()"> <mat-icon>cloud_upload</mat-icon> Upload Data</button> -->
      <button mat-raised-button color="primary" (click)="fileInput.click()"> <mat-icon>cloud_upload</mat-icon> Upload Data</button>
      <span style="visibility: hidden; position: absolute; overflow: hidden; width: 0px; height:0px;border:none;margin:0; padding:0">
          <input type="file" #fileInput ng2FileSelect [uploader]="uploader" />
      </span>
  </mat-toolbar>
</mat-card>
