/* div.rapd-corral {
  background: rgba(229, 229, 229, 1.0);
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 2px;
  margin: 0.25em 0 0.5em 0.25em;
  overflow: auto;
  width: 16em;
} */

/*
 * Small content panels with black tops
 */
 .rapd-corral {
  background-color: rgba(255,255,255,1);
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 3px;
  margin-top: 2em;
  max-width: 20em;
  min-width: 14em;
}

.rapd-corral-heading {
  background: rgba(0,0,0,1);
  border-radius: 3px 3px 0 0;
  color: rgba(255,255,255,1);
  display: block;
  height: 20px;
  margin: 0 0 0 0;
  padding: 10px 15px;
  text-align: left;
}

.rapd-corral-content {
  padding: 10px;
}