<div *ngIf="! submit_error">
    <div MatDialogTitle>
      <button mat-icon-button mat-dialog-close class="button-dialog-top-right">
        <mat-icon>close</mat-icon>
      </button>
      <h2>New Sequence</h2>
    </div>
    <mat-dialog-content [ngClass]="submitted ? 'overlay-grey': ''">
      <form [formGroup]="sequenceForm">
        <div class="form-group">
          <table class="rapd-form-table">
            <tbody>
                <tr>
                  <td class="rapd-form-table-rji">Name</td>
                  <td>
                    <mat-form-field style="width:10em;">
                      <input matInput
                            style="text-align:center;"
                            formControlName="name">
                      <!-- <mat-error *ngIf="sequenceForm.get('name').hasError('required')" style="font-size:0.5em;">Please provide a name</mat-error> -->
                    </mat-form-field>
                  </td>
                </tr>
              <tr>
                <td class="rapd-form-table-rji">Description</td>
                <td>
                  <mat-form-field style="width:10em;">
                    <input matInput
                          style="text-align:center;"
                          formControlName="description">
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                  <td class="rapd-form-table-rji">Sequence</td>
              </tr>
            </tbody>
          </table>
          <table>
            <tbody>
              <tr>
                <td>
                  <mat-form-field>
                    <textarea matInput
                          <!-- cdkTextareaAutosize, -->
                          <!-- #autosize="cdkTextareaAutosize" -->
                          cdkAutosizeMinRows="2"
                          cdkAutosizeMaxRows="5"></textarea>
                  </mat-form-field>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <p>
          <mat-progress-bar
            *ngIf="submitted"
            mode="indeterminate"
            style="margin-top:5px;"
            color="primary">
          </mat-progress-bar>
        </p>
        <p>
          <!-- <button
            *ngIf="(sequence)?._id"
            type="button"
            mat-button
            color="warn"
            (click)="deleteSequence()">
            Delete
          </button> -->
          <button mat-raised-button color="primary" (click)="submitSequence()">Submit</button>
        </p>
      </form>
    </mat-dialog-content>
  </div>
  <div *ngIf="submit_error">
    <mat-dialog-content>
      <h2>Error</h2>
      {{submit_error}}
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-raised-button color="primary" mat-dialog-close>Ok</button>
    </mat-dialog-actions>
  </div>
