<div class="panel" *ngIf="user.role === 'site_admin'">
  <md-tab-group class="session-tab-group">
    <md-tab label="Users">
        <article class="c-content">
          <button md-raised-button (click)="newUser()">New User</button>
          <button type="button" md-raised-button color="primary" (click)="changePass()">Change My Password</button>
        </article>
        <article class="c-content">
          <ngx-datatable
            class="material"
            [rows]="users"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [reorderable]="reorderable"
            [selectionType]="'single'"
            (select)='editUser($event)'>
            <ngx-datatable-column name="Username" prop="username">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Email" prop="email">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Role" prop="role">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </article>
    </md-tab>

    <md-tab label="Groups">
        <article class="c-content">
          <button md-raised-button class="r-button" (click)="createGroup()">New Group</button>
        </article>
        <article class="c-content">
          <ngx-datatable
            class="material"
            [rows]="groups"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [reorderable]="reorderable"
            [selectionType]="'single'"
            (select)='editGroup($event)'>
            <ngx-datatable-column name="Group Name" prop="groupname">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Institution" prop="institution">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Status" prop="status">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </article>
    </md-tab>

    <md-tab label="Sessions">
      <article class="c-content">
        <button md-raised-button (click)="createSession()">New Session</button>
      </article>
      <article class="c-content">
        <ngx-datatable
          class="material"
          [rows]="sessions"
          [loadingIndicator]="loadingIndicator"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [reorderable]="reorderable"
          [selectionType]="'single'"
          (select)='editSession($event)'>
          <ngx-datatable-column name="Site" prop="site">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Group" prop="group.groupname">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Start" prop="start_display">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="End" prop="end_display">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Directory" prop="data_root_directory">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value}}
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </article>
    </md-tab>
  </md-tab-group>
</div>
<div class="panel" *ngIf="user.role !== 'site_admin'">
  <article class="l-content">
    <h2>My Info</h2>
    <table class="is-full-width sessions-table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Role</th>
          <th>Group(s)</th>
        </tr>
      </thead>
      <tr>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
        <td> <span *ngFor="let group of user_groups; let last = last">{{group.groupname}}{{last ? '' : ', ' }}</span></td>
      </tr>
    </table>
  </article>
  <article class="l-content">
    <h2>My Groups Info</h2>
    <table class="is-full-width sessions-table">
      <thead>
        <tr>
          <th>Groupname</th>
          <th>Institution</th>
          <th>Status</th>
        </tr>
      </thead>
      <tr *ngFor="let group of user_groups">
        <td>{{group.groupname}}</td>
        <td>{{group.institution}}</td>
        <td>{{group.status}}</td>
      </tr>
    </table>
  </article>
</div>
