<div class="rapd-main-panel">
  <article class="c-content">
    <table class="rapd-table-wide">
      <thead>
        <tr>
          <th>Title</th>
          <th>Type</th>
          <th>Description</th>
          <th>Last Action</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let project of projects">
          <tr *ngIf="project.status !== 'hidden'" (click)="selectProject(project);">
            <td>{{project.title}}</td>
            <td>{{project.project_type}}</td>
            <td>{{project.description}}</td>
            <td>{{project.actions[0].action_type}}</td>
            <td>
              <button
                mat-icon-button
                color="primary"
                (click)="editProject(project); $event.stopPropagation();">
                <mat-icon>settings</mat-icon>
              </button>
              <button
                mat-icon-button
                color="primary"
                (click)="deleteProject(project); $event.stopPropagation();">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </article>
  <mat-toolbar class="rapd-main-panel-action-bar">
    <button
      mat-button
      color="primary"
      (click)="newProject()">
      <mat-icon>add</mat-icon>
      New Project
    </button>
    <!-- <input type="file" ng2FileSelect [uploader]="uploader" /> -->
  </mat-toolbar>
</div>
